.sc_logo h1 a {
    color: #FFF;
    font-weight: lighter;
    font-size: 20px;
	display: block;
	height: 50px;
    line-height: 50px;
}
.wmh_slider img {
	height: 180px;
	width: 100%;
}
.wmh_retu img {
	height: 85px !important;
	width: 100% !important;
}
.wmh_rmgz img {
	height: 100px !important;
	width: 100% !important;
}
.myinfo_list ul {
	padding-left: 0;
}
.header {
	display: none;
}
.threadlist ul {
	padding-left: 0;
}
.authi {
	padding-left: 0;
}
.wmh_fl {
	padding-left: 0;
}
.wmh_fabiao {
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
.am-icon-angle-up:before {
	content: "\f141";
}
.bm_h h2 a {
	margin: -40px 31px 0 10px;
}
.sub_forum > ul {
	padding-left:0;
}
.superx_marno {
	padding-bottom: 45px;
}
.dialog_t, :after, :before {
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}